.css-1om3ouz-MuiTimelineItem-root {
  min-height: 60px !important;
}
button.MuiButtonBase-root.MuiToggleButton-root.MuiToggleButton-sizeMedium.MuiToggleButton-primary.MuiToggleButtonGroup-grouped.MuiToggleButtonGroup-groupedVertical.Index_SidebarToggleButtons__hlmLn.css-d9c359-MuiButtonBase-root-MuiToggleButton-root{
  border: none !important;
}
.Index_SidebarMainLogo__QsrJw{
  background: none !important;
}
.css-1ygcj2i-MuiTableCell-root{
  border: none !important;
  background-color: #F5F6F8 !important;
}
.css-1ex1afd-MuiTableCell-root{
  border: none !important;
}